@import './tools.scss';

.file-name {
  font-size: 22px;
  font-weight: bolder;
  @include color(#A299F9, #4037C6);
}

.section-title {
  font-size: 18px;
  margin-bottom: 20px;
  @include color(#A299F9, #4037C6);
}

.dialogue-line {
  display: flex;
  align-items: center;
  margin: 14px 0;
  padding: 4px 10px;
  border-radius: 6px;
  @include color(rgba(#fff, 0.75), rgba(#5046E6, 0.75));
  @include background-color(rgba(#A299F9, 0.15), rgba(#F0EAFF, 0.75));
  &:hover {
    @include background-color(rgba(#A299F9, 0.10), rgba(#F0EAFF, 1));
  }
}

.line-number {
  font-weight: bold;
  font-size: 13px;
  border-right: 2px solid currentColor;
  padding-right: 6px;
  margin-right: 4px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
}

.dialogue-line .line-number {
  display: none;
}

.with-line-number .dialogue-line .line-number {
  display: block;
}

.time {
  width: 190px;
  text-align: center;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid rgba(#fff, 0.5);
  font-size: 15px;
  white-space: break-spaces;
}

.text {
  flex: 1;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  p {
    margin: 0;
    width: 100%;
    &:first-child {
      margin-bottom: 5px;
    }
    &:only-child {
      margin-bottom: 0;
    }
  }
}

%primary-text {
  font-size: 16px;
  font-weight: bold;
  @include color(rgba(#fff, 1), rgba(#5046E6, 1))
}

%secondary-text {
  font-size: 13px;
}

.content[data-lang-primary="primary"] {
  .primary-text {
    @extend %primary-text;
  }
  .secondary-text {
    @extend %secondary-text;
  }
}

.content[data-lang-primary="secondary"] {
  .primary-text {
    @extend %secondary-text;
  }
  .secondary-text {
    @extend %primary-text;
  }
}